{% load static %}
<nav class="navbar navbar-expand-lg container" style="background-color: #16AD92">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="align-center mw-100" src="{% static 'logos/logo_1.png' %}" alt="" style="height: 40px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-uppercase" aria-current="page" href="{% url 'dashboard' %}" style="color: white">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{% url 'branches' %}" style="color: white">branches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{% url 'capitals' %}" style="color: white">Capitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{% url 'transactions' %}" style="color: white">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{% url 'reports' %}" style="color: white">Report</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
            {{request.user.username|upper}}
          </a>
          <ul class="dropdown-menu">
            <li>
              {% if request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'system_users' %}">Users</a>
              {% endif %}
            </li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: red">Log Out</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



