

<form class="create-user-form card-body" action="{% url 'add_new_user'  %}" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">First Name</label>
                            {% render_field form.first_name class="form-control" style="border-radius: 20px" %}
                            {{form.first_name.errors}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">Last Name</label>
                            {% render_field form.last_name class="form-control" style="border-radius: 20px" %}
                            {{form.last_name.errors}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">Username</label>
                            {% render_field form.username class="form-control" style="border-radius: 20px" %}
                            {{form.username.errors}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">Email</label>
                            {% render_field form.email class="form-control" style="border-radius: 20px" %}
                            {{form.email.errors}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>