<form class="create-capital-form card-body" action="{% url 'add_new_capital'  %}" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">CASH</label>
                            {% render_field form.cash_capital class="form-control" style="border-radius: 20px" %}
                            {{form.cash_capital.errors}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" style="font-size: 13px;">FLOAT</label>
                            {% render_field form.float_capital class="form-control" style="border-radius: 20px" %}
                            {{form.float_capital.errors}}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>