{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="section pt-5">
        <div class="row">
            <div class="col-md-11">
                <p class="h1">System Users</p>
            </div>
            <div class="col-md-1 float-lg-end">
                <div class="text-right">
                    {% if request.user.is_superuser %}
                        <a href="javascript:" data-href="{% url 'add_new_user' %}" class="add-user-link">
                            <button class="btn btn-primary me-md-2" type="button" style="border-radius: 20px;">+ user</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="pt-5">
            <div class="card-body">
        
                {% if users %}
                    
                    <div class="row">
                        
                        {% for user in users %}
                            <div class="col-md-3 pb-3">
                                <div class="card card-body card-default">
                                    <div class="">
                                        
                                        {% if user.is_active %}
                                            <span class="badge bg-primary">Active</span>
                                        {% else %}
                                            <span class="badge bg-danger">Blocked</span>
                                        {% endif %}
                                            
                                    </div>
                                    
                                    {% comment %} {% if request.user.is_superuser %}
                                        
                                        {% if user.is_active == True %}
                                            <span><a href="javascript:" data-href=""  class="active block-user-link" href="" >block</a></span>
                                        {% else %}
                                            <span><a href="javascript:" data-href=""  class="active block-user-link" href="" >Unblock</a></span>
                                        {% endif %}
                                            
                                    {% endif %} {% endcomment %}
                                        
                                    <div class="text-center">
                                        <img class="avatar rounded-circle text-center img-fluid w-90" alt="Image placeholder" src="/static/assets/img/team/profile-picture-3.jpg" style="width: 80px; height: 80px;">
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="text-bold">{{user.get_full_name|title}}</p>
                                        </div>
                                        <div class="text-center">
                                            {% for role  in user.groups.all|slice:":2" %}
                                                <span class="badge bg-success">{{role.name}}</span>
                                            {% endfor %}    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            
                    </div>
                        
                {% else %}
            
                {% endif %}
                    
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="/static/assets/js/helpers.js"></script>
<script>
    $(function(){
        $(document).on('click', '.add-user-link', function() {
        let url = $(this).data('href');
        let title = "ADD NEW USER";   
        let columnClass = "col-md-7"
        let formSelector = ".create-user-form"
        let containerFluid = false

        ajaxPost(title, url, columnClass, containerFluid, formSelector);
        })
    });

    function datePickerSelector() {
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startView: 0,
            todayBtn: false,
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });
    }

</script>
{% endblock scripts %}